{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/" title="{{ site.title }}"><i class="fas fa-fw fa-home masthead__icon" aria-hidden="true"></i><span class="masthead__label">{{ site.title }}</span></a></li>
          {% for link in site.data.navigation.main %}
            {% if link.align == 'right' %}{% continue %}{% endif %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}" title="{{ link.title }}">{% if link.icon_svg %}{% include {{ link.icon_svg }} %}{% elsif link.icon %}<i class="fas fa-fw {{ link.icon }} masthead__icon" aria-hidden="true"></i>{% endif %}<span class="masthead__label">{{ link.title }}</span></a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
      {% comment %} Outside .greedy-nav so the collapse script never measures or moves these. {% endcomment %}
      <ul class="masthead__right">
        {% for link in site.data.navigation.main %}
          {% if link.align == 'right' %}
            <li class="masthead__menu-item"><a href="{{ base_path }}{{ link.url }}" title="{{ link.title }}">{% if link.icon %}<i class="fas fa-fw {{ link.icon }} masthead__icon" aria-hidden="true"></i>{% endif %}<span class="masthead__label">{{ link.title }}</span></a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>